* {
    outline: 1px solid black;
}

body {
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    font-weight: bold;
    font-family: PT Sans Narrow;
    text-transform: uppercase;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.main-header {
    font-size: 16px;
    line-height: normal;
    padding: 10px 0;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.main-navigation {
    float: left;
    width: 640px;
    /* для оформления схемы */
}

.user-block {
    float: right;
    width: 90px;
    /* для оформления схемы */
}

.main-container {
    margin: 30px auto;
}

.features-title {
    font-size: 30px;
    line-height: normal;
}

.content-column-title {
    font-size: 30px;
    line-height: normal;
}

.logo {
    width: 368px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.features-row {
    margin-bottom: 35px;
}

.features-item {
    width: 300px;
    float: left;
    margin-right: 20px;
}

.features-item:last-child {
    margin-right: 0;
}

.index-content {
    margin-bottom: 20px;
    padding: 30px 30px;
}

.content-column-left,
.content-column-right {
    width: 400px;
}

.content-column-left {
    float: left;
}

.content-column-right {
    float: right;
}

.main-footer {
    padding: 20px 0;
}

.footer-contacts {
    float: left;
  width: 310px;
    margin-right: 90px;

}

.footer-social {
    float: left;
  width: 140px;

}
.footer-copyright {
    float: right;
  width: 220px;
}

.breadcrumbs {
    margin-bottom: 50px;
}

.filter {
    width: 170px;
    float: left;
}
.products-gallery {
    width: 700px;
    margin-left: 240px
}.