* {
    outline: 1px solid black;
}

body {
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    font-weight: bold;
    font-family: PT Sans Narrow;
    text-transform: uppercase;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.main-header {
    font-size: 16px;
    line-height: normal;
    padding: 10px 0;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.main-navigation {
    float: left;
    width: 640px;
}

.main-navigation li {
    display: inline-block;
    margin-right: 20px;
}

.user-block {
    float: right;
    width: 90px;
}

.main-container {
    margin: 30px auto;
}

.features-title {
    font-size: 30px;
    line-height: normal;
}

.content-column-title {
    font-size: 30px;
    line-height: normal;
}

.logo {
    width: 368px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.features-row {
    margin-bottom: 35px;
}

.features-item {
    width: 300px;
    float: left;
    margin-right: 20px;
}

.features-item:last-child {
    margin-right: 0;
}

.index-content {
    margin-bottom: 20px;
    padding: 30px 30px;
}

.content-column-left,
.content-column-right {
    width: 400px;
}

.content-column-left {
    float: left;
}

.content-column-right {
    float: right;
}

.main-footer {
    padding: 20px 0;
}

.footer-contacts {
    float: left;
    width: 310px;
    margin-right: 90px;
}

.footer-social {
    float: left;
    width: 140px;
}

.footer-copyright {
    float: right;
    width: 220px;
}

.breadcrumbs {
    margin-bottom: 50px;
}

.breadcrumbs li {
    display: inline-block;
    margin-right: 20px;
}

.filter {
    float: left;
    width: 170px;
    min-height: 570px;
}

.products-gallery {
    float: right;
    width: 706px;
    margin-bottom: 40px;
}

.products-gallery .product {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    margin-right: 20px;
}

.product:nth-child(3n) {
    margin-right: 0;
}

.product-title {
    font-size: 14px;
    line-height: 18px;
    text-transform: none;
}

.pagination {
    width: 150px;
}
.pagination a{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 25px;
    margin-right: 10px;
}
.product-photo{
    float: left;
    width: 460px;
    
}
.product-photo img:nth-child(n+2){
    margin-top: 20px;
    margin-right: 17px;
}
.product-photo img:last-child{
    margin-right: 0;
}
.product-description {
    float: right;
    width: 390px;
}
.product-characteristics{
    float: right;
    width: 240px;
    margin-top: 50px;
    margin-right: 150px;
}
.existence{
    margin-right: 180px
}